* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: 10% auto;
    background: rgb(255, 255, 255);
    background: linear-gradient(175deg, rgba(255, 255, 255, 1) 52%, rgba(255, 255, 255, 1) 63%, rgba(0, 0, 0, 0.4822303921568627) 100%);
    box-sizing: border-box;
    height: 50vh;

}

.tarjeta {
    width: 94%;
    box-sizing: border-box;
}

.contenido {
    display: flex;
    height: 40vh;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

.logo {
    width: 100%;
    margin: 0 auto;
}

.metro {
    margin: 1%;
}

.bajar {

    margin-top: 10%;
    width: 60%;
    margin-left: 15%;

}

.lupa {
    margin-top: 5%;
    width: 17px;
    height: 17px;

}

.menu {
    display: flex;
    flex-direction: row;
    float: right;
}

.item {
    margin: 15px;
}

.carrito {
    float: right;
}


.lateral{
    background-color: black;
}